


<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<body>  

  <section class="home" id="home">

 

</section>
 <section class="w50">
  <div class="formData">
    
        <p> Destinations Updated Successfully...!:</p>
    <table>
      <tr>
        <th>Name:</th>
        <td> <%= des_name %> </td>
      </tr>
      <tr>
        <th>Price:</th>
        <td> <%= des_price %> </td>
      </tr>
      
    </table>
    
  </div>
</section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>